<h3>My data</h3>
<div class="row">

  <table class="table">
    <tbody>
    <tr>
      <th>Username</th>
      <td>{{userLogged?.username}}</td>
    </tr>
    <tr>
      <th>First name</th>
      <td>{{userLogged?.name}}</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>{{userLogged?.surname}}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{{userLogged?.phoneNum}}</td>
    </tr>
    <tr>
      <th>Register date</th>
      <td>{{userLogged?.registerDate}}</td>
    </tr>
    <tr>
      <th>Role</th>
      <td>{{userLogged?.role}}</td>
    </tr>
    </tbody>
  </table>
</div>
