<div class="col-xs-12 col-md-8">
<div class="alert alert-danger" style="margin-top: 1ex" *ngIf="errorSearch">
 There are no sections matching your search.
</div>

<div class="row row-margin" *ngIf="!errorSearch">
  <h1 class="pull-left">WebForum sections</h1>
  <button style="margin-top: 3ex;" class="btn btn-primary pull-right" *ngIf="userService.getRole()=='ADMIN' || userService.getRole()=='MODERATOR'" (click)="addSection()">Add section</button>
</div>
<div class="panel-group" id="accordion">
   <div class="panel panel-default" *ngFor="let section of sectionList; let i = index">
     <div class="panel-heading">
       <a [routerLink]="['/section',section.naturalID]" >{{section.title}}</a>
       <ul class="list-inline list-unstyled pull-right">
         <li class="glyphicon glyphicon-user"></li>
         <li>{{section.headModerator}}</li>
       </ul>
     </div>
     <div [ngClass]="{'panel-collapse': true, 'collapse': true, 'in': true}">
       <div class="panel-body">
         <div class="media">
           <div class="media-left">
             <img [src]="'http://localhost:8080/WebForum/'+section.imagePath" class="media-object" style="width:60px">
           </div>
           <div class="media-body">
             <p><strong>Description</strong> {{section.description}}</p>
           </div>
         </div>
       </div>
     </div>
   </div>
</div>
</div>

<div class="col-xs-12 col-md-4">
  <app-suggests></app-suggests>
</div>

